<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Weather App</title>
    <!--Semantic UI styles-->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <!--Custon styles-->
    <link rel="stylesheet" type="text/css" href="/css/app.css">
</head>
<body>
    <div class="ui raised padded text container segment">
		<div class="ui header">Current weather in ... </div>
    	<div class="ui centered huge blue header"><%=data.loc%></div>
	    <div class="ui centered grid container">
			<div class="ui grid">
				<div class="centered row">
					<%var unit = data.units === "metric" ? unit="C" : unit="F"%>
					<span id="temp"><%=data.temp%>&deg;<%=unit%></span>
					<img src="<%=data.icon_url%>">
				</div><!--.row-->
				<div class="centered row" id="desc">
					<p><%=data.desc%></p>
				</div><!--.row-->
				<div class="two column row">
					<div class="column">
						<span>Min <%=data.temp_min%></span>
					</div>
					<div class="column">
						<span>Humidity <%=data.humidity%>%</span>
					</div>
				</div><!--.row-->
				<div class="two column row">
					<div class="column">
						<span>Max <%=data.temp_max%></span>
					</div>
					<div class="column">
						<span>Wind <%=data.wind%>m/s</span>
					</div>
				</div><!--.row-->
			</div><!--.column.grid-->
	    </div><!--.grid.container-->
    </div>
</body>
</html>