<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Weather App</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="container">
    	<h1>The current weather in <%=data.loc%></h1>
		<img src="<%=data.icon_url%>">
		<p><%=data.desc%></p>
		<%var unit = data.units === "metric" ? unit="C" : unit="F"%>
		<span><%=data.temp%>&deg;<%=unit%></span>
		<span>Min <%=data.temp_min%></span>
		<span>Max <%=data.temp_max%></span>
		<p>Humidity <%=data.humidity%>%</p>
		<p>Wind <%=data.wind%>m/s</p>
    </div>
</body>
</html>